.card {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 300px;
  width: 300px;
  border-radius: 5%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  /* margin: 0 auto; */
  /* padding-bottom: 10px; */
  margin: 15px auto;
}
