.App {
  text-align: center;
  /* display: flex; */
  /* display: flex;
  justify-content: center;
  align-items: center;*/
  min-height: 100vh;
  background: -webkit-linear-gradient(90deg, #353973, #31206f, #3b096d);
  padding: 15px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* автоматическое размещение карточек */
  gap: 20px; /* отступы между карточками */
  max-width: 1200px; /* максимальная ширина контейнера */
  margin: 0 auto;
  padding: 20px;
}

button {
  border: 0;
  /* border-radius: 2px; */
  background: transparent;
  color: whitesmoke;
  margin: 10px;
}

button:hover {
  transform: scale(1.2);
}

.filter-button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

img {
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Стили для лоадера */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-size: 20px;
  color: #1a73e8;
}

.loader::after {
  content: "🐕";
  margin-left: 10px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
